<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Equipment_rent.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Equipment_rent.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Equipment_rent.Properties.Settings>
            <setting name="auth_username" serializeAs="String">
                <value />
            </setting>
        </Equipment_rent.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Equipment_rent.Properties.Settings>
            <setting name="ConnectString" serializeAs="String">
                <value>Data Source=85.175.4.135,49172;Initial Catalog=ER;User ID=mrkotik;Password=ciscO15=!;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</value>
            </setting>
        </Equipment_rent.Properties.Settings>
    </applicationSettings>
</configuration>